<!DOCTYPE html>
<html>
    <head th:replace="fragments/head"></head>
    <body>
        <!--NavBar-->
        <nav th:replace="fragments/navbar"></nav>
        <!--Hero-->
        <header class="header">
            <section class="contenedorMain">
                <div class="tituloBiblioteca">
                    <p class="navbar-brand" th:text="'Error ' + ${codigo}"></p>
                    <p class="tituloLibros" th:text="${mensaje}"></p>

                </div>
                <section class="text-center container">
                    <div class="row mt-3">
                        <div class="divVolver">
                            <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                        </div>
                    </div>
                </section>
            </section>
        </header>
        <!--Footer-->
        <footer th:replace="fragments/footer"></footer>
        <!-- JavaScript-->
        <script th:replace="fragments/jsBootstrap"></script>
    </body>
</html>
