<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments/head"></head>
    <body>
        <!--NavBar-->
        <nav th:replace="fragments/navbar"></nav>
        <!--Hero-->
        <header class="header">
            <section class="contenedorMain">
                <div class="tituloBiblioteca">
                    <a class="navbar-brand" href="#">BIBLIOTECA EGG</a>
                </div>
                <div class="container contenedorLibros justify-content-center align-items-center">
                    <p class="tituloLibros" th:if="${session.usuariosession != null}" th:text=" 'Hola '+ ${session.usuariosession.nombre} "></p>
                    <a class="btn btn-xl mt-2 boton">Ver Listado</a>
                </div>
                <div class="container">
                    <a th:if="${session.usuariosession.imagen != null}" class="d-flex justify-content-center align-items-center">
                        <img class="logo-usuario" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
                    </a>
                </div>
                <div class="bg-circle-1 bg-circle"></div>
                <div class="bg-circle-2 bg-circle"></div>
                <div class="bg-circle-3 bg-circle"></div>
                <div class="bg-circle-4 bg-circle"></div>
            </section>
        </header>
        <!--Footer-->
        <footer th:replace="fragments/footer"></footer>
        <!-- JavaScript-->
        <script th:replace="fragments/jsBootstrap"></script>
    </body>
</html>
