<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head"></head>
    <body>
        <!--NavBar-->
        <nav th:replace="fragments/navbar"></nav>
        <!--Hero-->
        <div class="container-fluid m-5 contenedor">
            <!--Formulario-->
            <form class="formulario" th:action="@{/libro/registro/}" method="POST"> <!--th:action="@{/libro/registro/}"-->

                <div class="form-group my-3">
                    <label class="mb-2">Cargar Libro</label>
                    <input class="form-control" type="number" name="isbn" placeholder="ISBN">
                </div>
                <div class="form-group my-3">
                    <input class="form-control" type="text" name="titulo" placeholder="Título del libro">
                </div>
                <div class="form-group my-3">
                    <input class="form-control" type="number" name="ejemplares" placeholder="Cantidad de ejemplares">
                </div>
                <div class="form-group my-3">
                    <select name="idAutor">
                        <option>Seleccionar autor</option>
                        <option th:each="autor : ${autores}"
                                th:if="${autor.estado == true}"
                                th:value="${autor.id}"
                                th:text="${autor.nombre}"
                                />
                    </select>
                </div>
                <div class="form-group my-3">
                    <select name="idEditorial">
                        <option>Seleccionar editorial</option>
                        <option th:each="editorial : ${editoriales}"
                                th:if="${editorial.estado == true}"
                                th:value="${editorial.id}"
                                th:text="${editorial.nombre}"
                                />
                    </select>
                </div>
                <button class="btn btn-primary mt-3 botones" type="submit">Guardar</button>   
            </form>
            <!--Mensaje al usuario-->
            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <!--Botón volver-->
            <section class="text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>
        </div>
        <!--Footer-->
        <footer th:replace="fragments/footer"></footer>
        <!-- JavaScript-->
        <script th:replace="fragments/jsBootstrap"></script>
    </body>
</html>
